################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MGtG.Data/bin/Debug/netcoreapp2.2
