################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MGtG.Data/bin/Debug/netcoreapp2.2
/MGtG.Data/obj/Debug/netcoreapp2.2
/MGtG.Data.Tests/bin/Debug/netcoreapp2.1
/MGtG.Data.Tests/obj/Debug/netcoreapp2.1
/MGtG.Web.Tests/bin/Debug/netcoreapp2.1
/MGtG.Web.Tests/obj/Debug/netcoreapp2.1
/bin/Debug
/MGtG.Data/obj/Docker
/MGtG.Data/Dockerfile2.original
/MGtG.Data/Dockerfile1.original
/MGtG.Data/Dockerfile.original
/MGtG.Web/obj/Container
/MGtG.Web/obj/Docker
/MGtG.Web/Dockerfile2.original
/MGtG.Web/Dockerfile1.original
/MGtG.Web/Dockerfile.original
/obj/Debug
/obj/Docker
/docker-compose.yml
/docker-compose.override.yml
/docker-compose.dcproj.user
/docker-compose.dcproj
/.env
/MGtG.Web/obj/Debug/netcoreapp2.2/MGtG.Web.csprojAssemblyReference.cache
